<div class="bodyContainer">
    <div class="textContainer">
        <h1>{{title}}</h1>
        <h2>More Information about Chuckles</h2>
        <p>As we already mentioned, Chuckles is the worst muffin in the world.</p>
        <p>Will he find redemption?  Will people stop changing him into weird deserts?  Who is Kenny Kupkayxe?  Read the books and find out!</p>
        <p>Here is a poem about Chuckles:</p>
        <br/>
        <div class="poemLines">
            <p>Chuckles the dirt-chip muffin,</p>
            <p>He don't like your Mom or her turkey stuffin'.</p>
            <p>Chuckles, oh Chuckles, Chuckles, Chuckles!</p>
            <p>He took a fork and stabbed a donut to death!</p>
            <p>Chuckles, oh Chuckles, he's not a very nice guy.</p>
            <p>Chuckles, Chuckles, Chuckles!</p>
            <p>He doesn't like your pants or your belty buckles!</p>
            <p>Chuckles!  He's definitely not a very nice guy!</p>
        </div>
    </div>
    <div class="imageContainer"><img width="500px" src="https://storage.googleapis.com/chucklesthedirtchipmuffin.com/ChucklesSimple2.png"></div>
</div>