<div class="chatContainer">

    <script src="https://unpkg.com/vue"></script>

    <script type="text/javascript">

        function fun() {
            var data = "hello";
            $.get("/Chats", function (response) {
                data = response;
                $("#ChatBox").text(data.fortuneText)
            });

            var rand_num = getRandomIntInclusive(1,21);

            var img_str = "https://storage.googleapis.com/chucklesthedirtchipmuffin.com/ChatPix/ChucklesChat" + rand_num + ".png";

            $("#ChuckPick").attr( "src", img_str);

            //    .error(function () {
            //    alert("Sorry could not proceed");
            //});

        };

        function getRandomIntInclusive(min, max) {
            min = Math.ceil(min);
            max = Math.floor(max);
            return Math.floor(Math.random() * (max - min + 1)) + min;
        };

    </script>


    <div style="width: 600px"><p class="triangle-isosceles" id="ChatBox">I can't believe I hugged all those people.</p></div>
    <div><img id="ChuckPick" src="https://storage.googleapis.com/chucklesthedirtchipmuffin.com/ChatPix/ChucklesChat1.png"/></div>
    <div style="clear: both"></div>
    <input id="clickMe" type="button" value="Talk to me Chuckles" onclick="fun();" />
    <br/>
    <br/>
    <div>Want to submit a Chuckles Chat to Chuckles Brain?  Visit the <a href="/brain">Brain</a> page.</div>

</div>