<div class="chatContainer">

    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>

    <div id="app">
        <div class="chatBubble">
            <p class="triangle-isosceles" id="ChatBox">{{quoteText}}</p>
        </div>
        <div>
            <img src={{picture}} />
        </div>
    </div>
    <div style="clear: both"></div>
    <input id="clickMe" type="button" value="Talk to me Chuckles" onclick="fun();" />

    <br/>
    <br/>
    <div>Want to submit a Chuckles Chat to Chuckles Brain?  Visit the <a href="/brain">Brain</a> page.</div>

    <script type="text/javascript">

        function fun() {

            var data = "hello";
            var chatNumber = getRandomIntInclusive(1,{{{maxChat}}});
            window.location.href = '/chuckleschat/' + chatNumber;

        };

        function getRandomIntInclusive(min, max) {
            min = Math.ceil(min);
            max = Math.floor(max);
            return Math.floor(Math.random() * (max - min + 1)) + min;
        };

    </script>

</div>
