<h1>High Freaktose Power!</h1>
<p><strong>High Freaktose Power</strong>© is a game that we are working on where Kenny Kupkayxe fights chob-spawn using his High Freaktose Lightning bolts.  It is <u>very much</u> a work in progress.</p>

<p>We are using <a href="https://www.yoyogames.com/gamemaker/studio2">GameMaker Studio 2</a> with the HTML5 module, which is still in beta, check back for updates.</p>

<div class="gm4html5_div_class" id="gm4html5_div_id">
    <!-- Create the canvas element the game draws to -->
    <canvas id="canvas" width="1024" height="768">
        <p>Your browser doesn't support HTML5 canvas.</p>
    </canvas>
</div>

<!-- Run the game code -->
<script type="text/javascript" src="html5game/HighFreaktosePower.js?JJFYB=82832598"></script>