<div class="bodyContainer">
    <div class="textContainer">
        <h1>{{title}}</h1>
        <h2>Chuckles is not here to blaze pathways of happiness or make apologies for the smartness (or stupidity) of certain, unnamed jellyfish.</h2>
        <p>I think that we have made that clear by now.</p>
        <p>In spite of that, we are officially banned from Google!  Boo!</p>
        <p>What did Chuckles ever do to you?  Well, I guess he is an evil muffin, full of horrible ingredients. So, there's that.</p>
        <p>And he did leave the microphone on.  Bad!  Bad chuckles!  You know... </p>
        <p>Actually Google never did say anything about that at first, so it isn't his fault that he left the microphone on.</p>
        <p>Truthfully, that is more about them, than it is about Chuckles.</p>
        <p><b>And actually</b>, Chuckles is on a journey to goodness, and we hope that you will read along.</p>
        <p>Now that you know something about Chuckles, you can jump right into:</p>
        <ul>
            <li><a href="/book/1/chapter/1">Book 1</a> if you like. OR</li>
            <li>You can learn more about <a href="/thechob">The Chob!</a>  Oh it is horrible folks, don't say we didn't warn you. OR</li>
            <li>You can also try <a href="/chuckleschat">Chuckles-Chat</a>.</li>
        </ul>
    </div>
    <div class="imageContainer">
        <img width="500px" src="/images/ChucklesChat22.png">
    </div>
</div>
