<div class="bodyContainer">
    <div class="textContainer">
        <h1>{{title}}</h1>
        <h2>You're probably asking yourself, why did I buy these stupid jellyfish?</h2>
        <p>Of course, we can't help you with that.  If you bought jelly fish and now you're complaining about their lack of intelligence, that's on you.</p>
        <p>We can tell you about Chuckles though, because that is what this website is about.  Chuckles the Dirt-Chip Muffin!</p>
        <p>Chuckles, simply put, is the worst muffin the world.  He is an evil muffin made by an evil baker.</p>
        <p>He is, though, on a journey to goodness, and we hope that you will read along.</p>
        <p>Now that you know something about Chuckles, you can jump right into:</p>
        <ul>
            <li><a href="/book/1/chapter/1">Book 1</a> if you like. OR</li>
            <li>You can learn more about <a href="/thechob">The Chob!</a>  Oh it is horrible folks, don't say we didn't warn you. OR</li>
            <li>You can also try <a href="/chuckleschat">Chuckles-Chat</a>™.</li>
        </ul>
    </div>
    <div class="imageContainer">
        <img width="500px" src="/images/ChucklesOne.png">
    </div>
</div>
