<div style="float: left; width:500px ">
<h1>Now you've done it!!!!</h1>
<p><b>You've gone off the edge of the story!</b></p>
    <p>This means one of two things: either A) You've gone past the current last chapter of the book OR B) you were trying to mess with the site in some way.</p>
    <p>In either case: <b>Go back before it's too late!!!</b></p>
</div>
<div float="style: right"><img src="/images/ChucklesOffTheEdge.png"/> </div>