<div class="bodyContainer">
    <div class="textContainer">
        <h1>{{title}}</h1>
        <h2>Information about the Chob</h2>
        <p>The Chob is a horrible beast who lives under the tunnels of the Tower of Unending Doom.  He is mostly black, slimy, and looks like a slug with the following exceptions:</p>
        <p>1) His eyes are on his tongue, so he must have his mouth open with his tongue hanging out to see anything.  This means that he talks funny and is always walking around with his
        tongue out of his mouth.  This gives him an extra-gruesome appearance.  This eyes-on-the-tongue system enables him to watch his victims while he is chewing them up.  Occasionally he bites himself on the tongue and damages an eyeball.</p>
        <p>2) He is covered in tentacles and on the end of every tentacle is either a bulbous, black, warty nose or a horrible, wrinkled, cauliflower ear.  This means that he has good smelling
        and hearing capabilities.</p>
        <h2>A Poem About the Chob</h2>
        <div class="poemLines">
            <p>The Chob! The Chob!</p>
            <p>He really likes his job!</p>
            <p>He chews you up</p>
            <p>And watches you</p>
            <p>go screaming down his gob!</p>
        </div>
    </div>
    <div class="imageContainer"><img width="500px" src="/images/TheChobIsCensored.png"></div>
</div>